.entryMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 1.7rem;
}

.reportbtns{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

@media (max-width: 600px) {
    .header{
        font-size: 1.15em;
        margin: 0.6rem 0;
    }
    
    .reportbtns{
        display: flex;
        gap: 1rem;
        margin: 0.4rem 0;
    }

}