.accountMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 85vh;
}

.accountText{
    font-size: 1.05em;
    cursor: pointer;
    width: 15%;
    text-align: center;
}

.accountText:hover{
    color: #2B67B2;
    background-color: #87bbfc2c;
    font-weight: 500;
}

@media (max-width: 600px) {
    .accountText{
        width: 40%;
    }
}